html{
    scroll-behavior: smooth;
}

body{
    background-image: url(../images/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Barre de Navigation*/

.nav-wrapper{
    background-color: black;
}
.nav-wrapper > .brand-logo img{
    height: 64px;
}

#scroll{
    scroll-margin-top: 0;
}

/*Partie 1 : Accueil*/

div.home{
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.font-effect-three-dimensional{
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #ffd600;
    font-size: 48px;
}

/*Partie 2 : L'équipe*/

div.team{
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: white;
    margin-top: 100px;
}

div.title{
    text-align: center;
    color: white;
    margin-top: 100px;
    font-family: 'Anton', sans-serif;
}

div.row{
    margin-top: 100px;
}

/*Partie 3 : Contact*/

div.txt{
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    float: left;
}

div.txt:hover{
    color: purple;
}

div.map{
    margin-top: 50px;
    float: right;
}

#modal1{
    color: black;
}

h4.fdc{
    text-align: center;
}

/*Pied de Page*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer{
    background-color: black;
    text-align: center;
}
